* {
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}

.inputReact {
    background-color: var(--element-backgound-color);
    color: var(--front-color);
    padding: 5px;
    border: 1px solid var(--element-border-color);
    border-radius: 5px;
    font-size: var(--medium-font-size);
}

input[type=file] {
    display: none;
}

input[type=number] {
    width: 80px;
}

Canvas {
    border: 1px solid var(--element-border-color);
}

/**********************************************/

.title {
    font-size: clamp(30px, 5vw, 50px);
    margin-bottom: 10px;
}

.PageContainer {
    max-width: 1000px;
    min-width: 300px;
}

/**********************************************/

#decodeInputCanvas,
#decodeOutputCanvas,
#hiddenCanvas,
#encodeOutputCanvas {
    max-width: min(90%, 600px);
    margin-left: auto;
    margin-right: auto;
}

#decodeUrlInput input[type=text] {
    width: 100px;
}

/**********************************************/

.encodeSlider input[type=range] {
    max-width: 320px;
}

/**********************************************/

#versionInfo {
    margin-top: 20px;
    font-size: var(--large-font-size);
    margin-bottom: 0px;
}

#refreshHint {
    margin-top: 5px;
    font-size: var(--small-font-size);
    margin-bottom: 10px;
}

a {
    color: var(--link-color);
}

.link {
    margin-top: 10px;
    font-size: var(--small-font-size);
}

#privacyButton {
    margin-top: 5px;
}

#privacyButton button,
#versionRecordButton button {
    background-color: var(--background-color);
    color: var(--link-color);
    border: 0px;
    font-size: var(--small-font-size);
}

#privacyPolicy {
    background-color: var(--secondary-background-color);
    text-align: center;
    color: var(--front-color);
    max-width: min(100%, 600px);
    font-size: var(--small-font-size);
    display: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#versionRecordTable {
    background-color: var(--secondary-background-color);
    border-collapse: collapse;
    font-size: var(--small-font-size);
    max-width: min(100%, 600px);
    padding: 10px;
    border-radius: 20px;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#versionRecordTable td {
    padding: 10px;
}