* {
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}

.inputReact {
    background-color: var(--element-backgound-color);
    color: var(--front-color);
    padding: 5px;
    border: 1px solid var(--element-border-color);
    border-radius: 5px;
    font-size: var(--medium-font-size);
}

input[type='file'] {
    display: none;
}

input[type='number'] {
    width: 60px;
}

Canvas {
    border: 1px solid var(--element-border-color);
}

/**********************************************/

.title {
    font-size: clamp(30px, 5vw, 50px);
    margin-bottom: 10px;
}

.subTitle {
    font-size: clamp(20px, 3vw, 30px);
    margin-top: auto;
    margin-bottom: 12px;
}

.PageContainer {
    max-width: 1000px;
    min-width: 300px;
}

/**********************************************/

#decodeInputCanvas,
#decodeOutputMetaCanvas,
#hiddenMetaCanvas,
#encodeOutputCanvas {
    width: min(90%, 600px);
}

#decodeUrlInput input[type='text'] {
    width: 100px;
}

/**********************************************/

.encodeSlider input[type='range'] {
    max-width: 320px;
}

#encodeMethodTable td {
    padding: 5px;
    text-align: center;
}

/**********************************************/

#privacyPolicy {
    max-width: min(100%, 600px);
}

#versionRecordTable {
    max-width: min(100%, 600px);
}

#versionRecordTable td {
    padding: 10px;
}
